@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Open+Sans&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family:'Open Sans', sans-serif;
}
/* Header and Navigation Styles */
.text-primary{
    color: #FD6E0A;
}
.btn-primary{
    border: 0;
    padding: 18px 35px;
    background: #FD6E0A;
    border-radius: 5px;
    color: white;
    font-weight: 700;
    font-size: 20px;
}
.header{
    background: #FFF8F3;
    background-image: url(../images/header_bg.png),url(../images/developer.png);
    background-repeat: no-repeat;
    background-position: bottom right, left;

}
.nav-title{
    font-weight: 800;
    font-size: 45px;
}
nav{
    display: flex;
    justify-content: space-between;
   margin: 50px 200px;
}
ul{
    display: flex;
    align-items: center;
}
nav li{
    list-style: none;
    margin-left: 50px;
}


/* Banner Styles */
.banner{
    display: flex;
    align-items: center;
    margin: 0 200px;
}
.sub-title{
    font-size: 45px;
    color: #474747;
}
.title{
    font-size: 85px;
    color: #181818;
}
.description{
    font-size: 17px;
    color: #757575;
    margin-bottom: 30px;
}

/* About section styles */

main{
    max-width: 1140px;
    margin: 0 auto;
}
.about{
    background: #FFF8F3;
    border-radius: 10px;
    padding: 130px 144px;
    margin-top: 130px;
    text-align: center;
}
.section-title{
    font-size: 35px;
    color: #181818;
    margin-bottom: 30px;
    font-weight: 700;
}
.section-description{
    font-size: 18px;
    color: #757575;
    margin-bottom: 30px;
}
.detail-information{
    display: flex;
}
.detail-information{
    justify-content: space-between;
}
.detail p{
    color: #757575;
    font-weight: 400;
    font-size: 20px;
}
.detail h3{
    font-size: 20px;
}